@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #eee;
    padding: 0 10px;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper{
    border-radius: 20px;
    padding: 35px 40px;
    background: #000000;
}



.wrapper header{
    color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    font-size: 1.6rem;
    color: #d5d5d5;
}

header .column{
    display: flex;
    align-items: center;
    color: #d5d5d5;

}

header .column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume input{
    outline: none;
    accent-color: #fff;
}

.keys_checkbox input{
    outline: none;
    width:60px;
    height: 30px;
    appearance: none;
    background: #4b4b4b;
    cursor: pointer;
    border-radius: 30px;
    position: relative;

}

.keys_checkbox input::before{
    content: "";
    position: absolute;
    background: #8c8c8c;
    height: 20px;
    width: 20px;
    border-radius: inherit;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys_checkbox input:checked::before{
    left: 35px;
    background: #fff;
}

.piano_keys{
    display: flex;
    margin-top: 40px;
}

.piano_keys .key{
    list-style: none; 
    color: #a2a2a2;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.piano_keys .bl{
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
    /* background: #000; */
}

.piano_keys .bl.active{
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.2);
    background: linear-gradient(to bottom, #000, #434);
}

.piano_keys .wt{
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 2px solid #000;
    /* background-color: linear-gradient(#fff 96%, #eee 4%); */
    background: #fff;   
}

.piano_keys .wt.active{
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.piano_keys span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.piano_keys .key.hide span{
    display: none;
}

@media screen and (max-width:815px){
    .wrapper{
        padding:25px;
    }    

    header{
        flex-direction: column;
    }

    header :where(h2, .column){
        margin-bottom: 13px;
    }

    .volume input{
        max-width: 100px;
    }

    .piano_keys{
        margin-top: 20px;
    }

    .piano_keys .key :where(:nth-child(9), :nth-child(10)){
        display: none;
    }

    .piano_keys .bl{
        height:100px;
        width: 40px;
        margin: 0 -20px 0 -20px;
    }

    .piano_keys .wt{
        height: 180px;
        width: 60px;
    }
}

@media screen and (max-width:615px){
    .piano_keys .key:nth-child(13),
    .piano_keys .key:nth-child(14),
    .piano_keys .key:nth-child(15),
    .piano_keys .key:nth-child(16),
    .piano_keys .key:nth-child(17){
        display: none;
    }

    .piano_keys .white{
        width: 50px
    }
}
